<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
     *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    nav{
        width: 100vw;
        height: 10vh;
        background-color: rgb(12, 50, 66);
        color: aliceblue;
        
    }
    nav p{
        font-size: 2.5rem;
        text-align: center;
        line-height: 10vh;
    }

    main p{ 
        font-size: 2rem;
        text-align: center; 
        margin-top: 10vh;;
    }
</style>
<body>
    <nav>
        <p>失敗頁面</p>
    </nav>
    <main>
        <p>{{data}}</p>
        <p><a href="http://127.0.0.1:3000/">返回首頁</a></p>
</main>
</body>
</html>